{
    "debug": false,
    "listen": ":6930",
    "timeout": 10,
    "channels": [
        {
            "name": "msxw",
            "desc": "民视新闻",
            "url": "http://38.64.72.148:80/hls/modn/list/4012/chunklist0.m3u8",
            "play_prefix": "http://38.64.72.148:80/hls/modn/list/4012/"
        },
        {
            "name": "tsxw",
            "desc": "台视新闻",
            "url": "http://38.64.72.148:80/hls/modn/list/4013/chunklist0.m3u8",
            "play_prefix": "http://38.64.72.148:80/hls/modn/list/4013/"
        }
    ]
}